{{define "error"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/template/styles.css" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Groupie-Tracker</title>
</head>

<body>
  <div class="error">
    <img class="err-image center"
      src="https://cdn.shopify.com/s/files/1/1061/1924/products/Crying_Emoji_Icon_2_large.png?v=1571606091" alt="">
    <h1 class="error">{{.}}</h1>
  </div>
  <div class="wave"></div>
     <div class="wave"></div>
     <div class="wave"></div>
</body>

</html>
{{end}}